<!-- start custom footer snippets -->
<a href="https://www.reddit.com/r/WalletScrutiny">Reddit Community</a>,
<a href="mailto:info@WalletScrutiny.com">Contact</a>,
<a href="/donate/">Donate</a>
<!-- end custom footer snippets -->
