<h3>10 most recent donations</h3>
<table><tr><th>Date</th><th>Amount</th><th>Category</th></tr>
<tr><td>2/13/2020</td><td>0.96094mBTC</td><td>Any</td></tr>
<tr><td>2/13/2020</td><td>0.0961mBTC</td><td>MoreWallets</td></tr>
<tr><td>2/13/2020</td><td>0.00097mBTC</td><td>NonBitcoinWallets</td></tr>
<tr><td>2/12/2020</td><td>0.09689mBTC</td><td>Any</td></tr>
<tr><td>2/11/2020</td><td>0.00103mBTC</td><td>Any</td></tr>
<tr><td>2/11/2020</td><td>1.02826mBTC</td><td>Any</td></tr>
<tr><td>2/11/2020</td><td>0.02462mBTC</td><td>Alerts</td></tr>
<tr><td>2/11/2020</td><td>0.05804mBTC</td><td>Any</td></tr>
<tr><td>2/11/2020</td><td>0.02258mBTC</td><td>Any</td></tr>
<tr><td>2/11/2020</td><td>0.20402mBTC</td><td>Any</td></tr>
<tr><td>...</td><td>...</td><td>...</td></tr>
</table>
<h3>All donations by category</h3>
<table><tr><th>Category</th><th>Sum</th></tr>
<tr><td>Any</td><td>2.77896mBTC</td></tr>
<tr><td>MoreWallets</td><td>0.0961mBTC</td></tr>
<tr><td>FrequentUpdates</td><td>0mBTC</td></tr>
<tr><td>AdCampaign</td><td>0mBTC</td></tr>
<tr><td>MoreOS</td><td>0mBTC</td></tr>
<tr><td>CodeReviews</td><td>0mBTC</td></tr>
<tr><td>NonBitcoinWallets</td><td>0.00097mBTC</td></tr>
<tr><td>Alerts</td><td>0.02462mBTC</td></tr>
<tr><td>NonWalletApps</td><td>0mBTC</td></tr>
<tr><th>Total</th><th>2.90065mBTC</th></tr></table>
