{% include base_path %}

{% assign posts_by_users = site.posts | sort: "users" | reverse %}

<table id="tableofwallets">
  <thead>
    <tr>
      <td>Name</td>
      <td>Installs</td>
      <td>Launch</td>
      <td>Update</td>
      <td>Reviewed</td>
      <td>Verdict</td>
    </tr>
  </thead>
  {% assign verdicts = "verifiable,nonverifiable,nosource,custodial,nobtc,fewusers,wip,nowallet" | split: "," %}
  {% for v in verdicts %}
    {% for post in posts_by_users %}
      {% if post.verdict and post.verdict == v %}
        {% include list_of_wallets_item.html %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</table>
