{% include base_path %}

{% if post.altTitle %}
  {% assign title = post.altTitle %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% if post.id %}
  {% assign title = title | markdownify | remove: "<p>" | remove: "</p>" %}
{% endif %}

{% comment %}
  Neither Liquid nor CSS have a nice pretty-print for numbers. As all numbers
  here have only one significant digit, getting number grouping can be achieved
  by replacing "000" with " 000" from the right and to avoid a space in that
  string, the first replacement zero gets a margin instead of a space.
{% endcomment %}
{% assign zeroGroupReversed = '<span style="margin-left: 0.2em;">0</span>00' | split: "" | reverse | join: "" %}
{% assign prettyUserCount = post.users | split: "" | reverse | join: "" | replace: "000", zeroGroupReversed | split: "" | reverse | join: "" %}

<div style="width:100%;text-overflow:ellipsis;overflow:hidden;width:100%;white-space:nowrap">
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">
    <img src="/images/wallet_icons/{{ post.icon }}" class="app_logo" alt="Wallet Logo" style="height:1em;width:auto;float:left;margin-right:0.5em">
    {{ title  }}
  </a>
</div>
